.header {
    padding: 40px 40px 0 40px;


    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__name {

        color: $MAIN_COLOR;
        font-size: 2.4rem;
        text-decoration: none;
    }

    &__box {
        display: flex;

        :nth-child(3) {
            color: red;
        }
    }

    &__icon {
        font-size: 2.4rem;
        color: $MAIN_COLOR;
        margin-right: 32px;
    }


    &__line {
        background-color: $MAIN_COLOR;
        height: 2px;
        width: 16px;
    }

}

.main {

    &__wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__box {
        margin-top: 80px;
        margin-left: 210px;
    }

    &__sun {
        top: -88px;
        position: relative;
        right: 11%;

    }

    &__sun-img {
        width: auto;
        height: 700px;
    }


    &__name {
        color: $MAIN_COLOR;
        font-size: 12rem;
        line-height: 120px;
        font-weight: 500;
        font-style: normal;
        letter-spacing: 5px;
    }

    &__underBar {

        position: relative;
        display: block;

        &:before {

            content: "";
            width: 88px;
            background-color: red;
            height: 4px;
            position: relative;
            display: block;
            border-radius: 5px;
            top: 30px
        }

        &:after {


            content: "";
            width: 88px;
            background-color: red;
            height: 4px;
            position: relative;
            display: block;
            border-radius: 5px;
            top: 44px;
            left: 48px;

        }

    }

    &__info {
        color: $MAIN_COLOR;
        font-size: 2.8rem;
        text-decoration: none;
        margin-top: 72px;
    }

}